<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css" media="screen"/>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sign-up.css ">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="../javascript/sign-up.js" defer></script>
    <title>Trackgenix</title>
  </head>
  <body>
    <header>
      <div class="menu-spring">
        <div class="menu-lines"></div>
        <div class="menu-lines"></div>
        <div class="menu-lines"></div>
      </div>
      <img src="../assets/Logo.png" class="main-logo" title="Logo" alt="Logo">
      <ul class="section-links">
        <li><a href="#our-job">Our Job</a></li>
        <li><a href="#functionalities">Functionalities</a></li>
        <li><a href="#why-us">Why Us</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
        <li><a href="#who-we-are">Who We Are</a></li>
        <li><a href="#site-map">Site Map</a></li>
      </ul>
    </header>
    <aside>
      <li><a href="#our-job">Home</a></li>
      <li><a href="">Sign Up</a></li>
      <li><a href="">Log In</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </aside>
    <div class="wrapper">
      <div class="sing-up-form">
        <h3>Sign Up</h3>
        <form action="" class="sign-up-form-employees" id="sign-up-form-employees">
          <div class="container-one">
            <div class="container-two">
              <div class="sing-up-input">
                <input id="formName" type="text" placeholder="Name" class="form-input-box" required>
                <div id="name-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="surname" type="text" placeholder="Last Name" class="form-input-box" required>
                <div id="surname-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="ID-number" type="text" placeholder="ID Number" class="form-input-box" required>
                <div id="id-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="birthday-date" type="text" placeholder="Date of Birth" class="form-input-box" required>
                <div id="birth-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="phone-number" type="text" placeholder="Phone Number" class="form-input-box" required>
                <div id="phone-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="address" type="text" placeholder="Address" class="form-input-box" required>
                <div id="address-error-box"></div>
              </div>
            </div>
            <div class="container-two">
              <div class="sing-up-input">
                <input id="city" type="text" placeholder="City" class="form-input-box" required>
                <div id="city-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="zipCode" type="text" placeholder="Zip Code" class="form-input-box" required>
                <div id="zip-code-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="email" type="text" placeholder="Email" class="form-input-box" required>
                <div id="email-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="password" type="password" placeholder="Password" class="form-input-box" required>
                <div id="password-error-box"></div>
              </div>
              <div class="sing-up-input">
                <input id="repeatPassword" type="password" placeholder="Repeat Password" class="form-input-box" required>
                <div id="repeat-psw-error-box"></div>
              </div>
              <button type="submit" class="create-user-button">Create User</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="main-footer">
      <div class="social-media">
        <a href="#">
          <img src="../assets/WhatsApp.png" title="WhatsApp" alt="WhatsApp-Logo">
        </a>
        <a href="#">
          <img src="../assets/LinkedIn.png" title="LinkedIn" alt="LinkedIn-Logo">
        </a>
        <a href="#">
          <img src="../assets/Facebook.png" title="Facebook" alt="Facebook-Logo">
        </a>
        <a href="#">
          <img src="../assets/Github.png" title="Github" alt="Github-Logo">
        </a>
        <a href="#">
          <img src="../assets/Twitter.png" title="Twitter" alt="Twitter-Logo">
        </a>
      </div>
      <div class="city">
        <p>Rosario, Argentina</p>
      </div>
      <div class="copyright">
        <p>Copyright © 2022 Trackgenix S.A. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>