body {
 margin: 0%;
 font-family: 'Roboto', sans-serif;
}
header {
  /*position: fixed;*/
  background-color:#49A37B;
  background: linear-gradient(to bottom,  #49A37B,  #add6c4);
  display: block;
  padding: 50px;
}
aside {
  position:relative;
  background-color:#49A37B;
  background: linear-gradient(to bottom,  #49A37B,  #add6c4);
  width: 200px;
  display: flex;
  float: left;
}
.title {
  display: flex;
  float: center;
  padding-left: 200px;
  margin-left: auto;
  margin-right: auto;
}
