header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color:#49A37B;
  background: linear-gradient(to bottom,  #49A37B,  #add6c4);
}
.menu-spring {
  justify-content: center;
  align-items: center;
}
.menu-lines {
  width: 35px;
  height: 5px;
  margin: 6px;
  background-color: #373867;
  border-radius: 8px;
}
.main-logo {
  width: 80%;
  height: auto;
}
.section-links {
  display: none;
}

@media screen and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .menu-spring {
    align-self: left;
  }
  .main-logo {
    align-self: center;
    width: 60%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
  }
  .menu-spring {
    align-self: left;
  }
  .main-logo {
    align-self: center;
    width: 40%;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
  }
  .menu-spring{
    display: none;
  }
  .main-logo {
    width: 20%;
    height: auto;
  }
  .section-links {
    display: flex;
    justify-content: space-around;
    z-index: 100;
    font-size: 20px;
  }
  .section-links ul {
    list-style-type: none;
  }
  .section-links li {
    padding: 10px;
    text-transform: uppercase;
  }
  .section-links a {
    color: #FFFFFF;
    text-decoration: none;
  }
}