h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
h3 {
  margin:auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  /* margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; */
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.wrapper {
  display: flex;
  /* justify-content: space-between; */
}
.job-description {
  display: flex;
  flex-direction: column;
  background-color: #AACE9B;
  text-align: center;
}
.main-subtitle {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.job-description p{
  width: auto;
  margin: auto;
  font-size: 16px;
}
.secondary-logo {
  width: 10%;
  height: 10%;
}
.functionalities-buttons {
  display: flex;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.functionalities-buttons button{
  width: 50%;
  margin: 10px;
  background-color:#49A37B;
  background: linear-gradient(to bottom,  #49A37B,  #add6c4);
  border: none;
  font-size: 16px;
  color:#FFF;
  text-transform: uppercase;
}
.green-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #AACE9B;
}
.green-background-paragraph {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.reasons-unordered {
  padding-top: 10px;
  padding-left: 30px;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  list-style-type: circle;
  list-style-position: inside;
}
.form-title {
  padding: 20px;
  background-color: #FFF;
  border: 2px solid black;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #373867;
}
.form-body {
  background-color: #AACE9B;
}
.form-body input[type=text] {
  width: 98%;
  height: 50px;
  background-color: #AACE9B;
  font-size: 16px;
}
.contact-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  height: 50px;
  padding-left: 5px;
  background-color: #AACE9B;
  font-size: 15px;
  line-height: 30px;
}
.contact-area .label-title {
  width: 100%;
}
.form-body input[type=radio] {
  width: 5%;
  margin: auto;
  height: 15px;

}
.form-body textarea {
  width: 99%;
  height: 100px;
  margin-top: 20px;
  background-color:#AACE9B;
  border-bottom: 1px solid black;
  font-size: 15px;
}
.form-button {
  width: 100%;
  background-color:#AACE9B;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
  .wrapper{
    flex-direction: column;
  }
  .column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .functionalities-buttons button {
    width: 40%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .functionalities-buttons .column {
    display: flex;
    justify-content: space-around;
  }
  .green-background-paragraph {
    font-size: 20px;
  }
  .reasons-unordered {
    font-size: 20px;
  }
  .form-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 24px;
  }
  .functionalities-buttons {
    flex-direction: row;
    justify-content: center;
  }
  .functionalities-buttons button {
    width: 200px;
    height: 200px;
    font-size: 22px;
  }
  .green-background {
    width: 60%;
    margin: auto;
  }
  .green-background-paragraph {
    font-size: 24px;
  }
  .reasons-unordered {
    font-size: 22px;
  }
   .form-title {
    font-size: 20px;
  }
}